In [12]:
str1 = "Life is too short,\n You need python"
# indexing, slicing
print(str1)
str1 = """Life is too short,
You need python"""
print(str1)
print(str1[0 : 0 + 4])
print(str1[12 : 12 + 5]) # slicing 
# "a" :문자열, a : 변수 , a() 함수 : print(), format(), find(), index()

Life is too short,
 You need python
Life is too short,
You need python
Life
short

In [17]:
# 문자열 함수
#  모두 대문자 변경
str1 = "Life is too short"
print(str1.upper())
#  모두 소문자
print(str1.lower())

LIFE IS TOO SHORT
life is too short

In [26]:
str1 = "    highland0       "
#공백문자를 지우기
print(str1.strip() + "이숭무")
print(str1.rstrip() + "이숭무")
print(str1.lstrip() + "이숭무")
str1 = "    high    land0    "
print(str1.strip() + "이숭무") # 중간에 있는 공백문자는 지워지지 않는다.

str1 = "abhighland0ab"
print(str1.strip("ab"))

str1 = "ab    highland0  ab"
print(str1.strip("ab").strip())

highland0이숭무
    highland0이숭무
highland0       이숭무
high    land0이숭무
highland0
highland0

In [31]:
# 문자열 변경하기
str1 = 'pithon'
print(str1[0]+'y'+str1[2:])
print(str1.replace("i","y"))

str1 = 'high land0'
print(str1.replace(" ",""))

str1 = "Life is too short"
result = str1.replace("Life" , "Your leg")
print(result) # 변경된 데이터를 result에 저장
print(str1) # 원본 데이터는 변경 되지 않는다.

python
python
highland0
Your leg is too short
Life is too short

In [34]:
# 쪼개기
str1 = "Life is too short"
print(str1)
print(str1.split()) # 공백문자 기준으로 분리한다.
# ['Life', 'is', 'too', 'short'] : 리스트
str1 = "Life:is:too:short" #  콜론(:)을 기준으로 분리한다.
print(str1.split(":"))

Life is too short
['Life', 'is', 'too', 'short']
['Life', 'is', 'too', 'short']

In [36]:
str1 = "Life:is-too/short"
import re
print(re.split('[:/-]',str1))
# ['Life', 'is', 'too', 'short']  : 리스트

['Life', 'is', 'too', 'short']

In [41]:
# 자료형
# 리터널 자료형 : 숫자 리터널 : 정수 리터널 : 10
#                             실수 리터널 : 1.5
#                문자 리터널 : "", '', """""", ''''''
# 리터널 자료형을 변수에 저장 할 때는 변수에 하나만 저장이 된다.
a = 10
b = 10.5
str1 = "Life"
str2 = 'is'
str3 = 'too'
# 하나의 변수에 서로 다른 특징을 가진 여러개의 데이터를 저장하고 싶다.
# 리스트 자료형 : []
str1[1] # indexing
l = ['Life', 'is', 'too'] # 리스트
print(l)
print(a)
print(b)
print(str1)

['Life', 'is', 'too']
10
10.5
Life

In [ ]:
#  리스트 표기법
l2 = [] # 빈 리스트
l3 = [1, 2, 3, 4, 5] # 정수형 리스트 
                     # 여러개의 데이터를 구분하기 위해서 곰마(,)를 사용
l4 = [10.5, 2.5, 12.3] # 실수형 리스트
l5 = ['이숭무', 'apple' ] #문자열 리스트
l6 = [1,2,3, '이숭무', 2.4, 6.7] # 혼홥형 리스트
l7 = [ [1,2,3] , [4,5,6] ] # 리스트를 포함한 리스트
l8 = [ 7,8,9, [1,2,3] ,'이숭무', [4,5,6] ] # 리스트를 포함한 혼합형 리스트

In [46]:
# 리스트 연산자 : + : 연결연산자, * : 반복연산자
l1 = [1,2,3]
l2 = [4,5,6]

result = l1 + l2
print(result)
result = l1 * 3
print(result)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
life,is

In [52]:
# 리스트의 indexing , slicing
str1 = "Life is too short"
#       0123456789...'
print(str1[2]) # indexing
print(str1[2:2+4]) # slicing 
l = [1,2,3,4,5]
print(l)
print(str1)
l = ['Life', 'is', 'too', 'short'] # 리스트안에 있는 데이터를 요소라고 한다.
#       0      1      2      3 # 리스트는 각 요소마다 index가 존재한다.
str1 = "Life is too short"
#       012345
print(str1[2]) # f
print(l[0]) # life : 문자열
print(l[1]) # is : 문자열
print(l[0] + l[1]) #  문자열 + 문자열 : 문자열 연결연산자
print('life' + 'is')

f
fe i
[1, 2, 3, 4, 5]
Life is too short
f
Life
is
Lifeis
lifeis

In [53]:
l = [1, 2, 3, 4] # 정수리스트
#    0  1  2  3
#   -4  3  2  1 
#    정수리스트의 요소의 자료형은 정수
print(l[0]) # 정수
print(l[1]) # 정수
print(l[0] + l[1]) # 정수 + 정수 : 1 + 2
print(l[-4]) # 1
print(l[-4] + l[1])

1
2

In [59]:
l = ['Life', 'is', 'too', 'short', 10, 20, 30] # 문자열과 숫자가 혼합된 리스트
print(l[0]) # 문자열
print(l[5])  # 정수
print(l[0] * l[5]) #  문자열 * 정수  : 'Life' * 20 
# print(l[0] + l[5]) #  문자열 + 정수  : 오류
# 서로 다른 타입은 연산되지 않는다.
# 연산하기 위해서는 타입을 동일하게 만들어 줘야 한다.
print(l[0] + str(l[5])) #  문자열 + str(정수) = 문자열 + 문자열 
l = ["10", 10, 20, 30]
#print(l[0] + l[1]) # 문자열 + 정수
print(int(l[0]) + l[1]) #int(문자열) + 정수 = 정수 + 정수 = 10 + 10

Life
20
LifeLifeLifeLifeLifeLifeLifeLifeLifeLifeLifeLifeLifeLifeLifeLifeLifeLifeLifeLife
Life20
20

In [60]:
#리스트를 포함한 리스트
a = [1, 2, 3, ['a', 'b', 'c'] ]
#    0  1  2         3
#               0    1    2
print(a[3]) # ['a', 'b', 'c'] : 리스트
#               0    1    2
print(a[3][1])
a = [1, 2, 3, ['a', 'life', 'c']]
#    0  1  2          3
#               0      1     2
# 'life'를 출력
print(a[3][1]) # 'life' :  문자열
#                 0123
# 'i' 출력
print(a[3][1][1])

['a', 'b', 'c']

In [64]:
# slicing
str1 = 'Life is too short'
#       012345678...
print(str1[2]) # indexing # 문자열에서 문자 하나를 가져오는 것
print(str1[3:3 + 4]) # slicing # 문자열에서 원하는 문자들을 잘라가져오는 것
a = [1, 2, 3, 4, 5]
#    0  1  2  3  4
print(a[2]) # indexing # 리스트에서 요소 하나를 가져오는 것
print(a[1: 1 + 2  ]) # slicing  # 리스트에서 원하는 요소들을 가져오는 것
print(a[0:2])
print(a[:2])
print(a[3:3 + 2])
print(a[3:])
print(a[2:5:1]) # start=2 , end = 5 , step = 1 : index에 1씩 더한 값
print(a[2:5:2]) # start=2 , end = 5 , step = 2 : index에 2씩 더한 값

f
e is
3
[2, 3]
[1, 2]
[1, 2]
[4, 5]
[4, 5]
[3, 4, 5]
[3, 5]

In [70]:
a = [1, 2, 3, 4, 5] # 요소의 타입은 정수
#    0  1  2  3  4
print(a[2]) # 3 : 정수 : indexing 
print(a[2 : 2 + 2]) # 리스트  : slicing
print(a[2 : 2 + 1]) # slicing을 하면 요소를 하나만 출력해도 리스트로 가져온다.
#print(a[2] + a[2 : 2 + 1] ) # 정수 + 리스트 : 오류
print([(a[2])] + a[2 : 2 + 1] ) # [정수] + 리스트 = 리스트 + 리스트

3
[3, 4]
[3]
[3, 3]

In [ ]:
# 리스트 표기법
# 리스트 연산자 : + , *
# 리스트 indexing , slicing

In [80]:
# 리스트 함수
### 리스트에 요소 추가
l = ['Life', 'is' ]
# 'too'  문자열 추가
l.append('too')
print(l)
l.append('short')
print(l)
# 'too', 'short'  문자열 추가
l = ['Life', 'is']
# l.append('too', 'short')
l.append(['too', 'short']) # ['Life', 'is', ['too', 'short']]
print(l)
#  append는 요소 하나만 추가할 수 있다. 여러개의 요소 한번에 저장 할 수 없다.
# 확장
l = ['Life', 'is']
l.extend(['too', 'short']) # 여러개의 요소를 한번에 추가한다는 것은 확장의 개념이다.
print(l)
# 삽입 : insert
l = ['Life', 'short']
#      0        1
l.insert(1, 'is')
print(l) # ['Life', 'is', 'short']
l.insert(2, 'too')
print(l)

['Life', 'is', 'too']
['Life', 'is', 'too', 'short']
['Life', 'is', ['too', 'short']]
['Life', 'is', 'too', 'short']
['Life', 'is', 'short']
['Life', 'is', 'too', 'short']

In [108]:
#요소 삭제 
# del명령 이용 : index를 사용
l = ['Life', 'is', 'too', 'short']
print(l) # ['Life', 'is', 'too', 'short']
#              0      1     2       3
del l[2] # indexing
print(l) # ['Life', 'is', 'short']
del l[1:] # slicing
print(l)

# 요소를 이용해서 삭제
l = ['Life', 'is', 'too', 'short']
l.remove('is')
print(l) #['Life', 'too', 'short']
# l.remove('Life', 'too')  # one argument (2 given)
# l.remove(['Life', 'too']) #요소인 리스트를 지워라.list.remove(x): x not in list
#remove()도 요소를 하나씩 지운다.

# 한번에 모두 삭제
l.clear()
print(l)

# 데이터를 추출 후 삭제 : 비복원 추출
l = ['Life', 'is', 'short', 2, 3]
# 마지막에 있는 데이터를 추출 후 삭제
result = l.pop()
print(result)
print(l) # ['Life', 'is', 'short', 2]
#              0     1       2     3
# 원하는 위치(index)의 데이터를 추출 후 삭제
result = l.pop(1)
print(result)
print(l)

['Life', 'is', 'too', 'short']
['Life', 'is', 'short']
['Life']
['Life', 'too', 'short']
[]
3
['Life', 'is', 'short', 2]
is
['Life', 'short', 2]

In [210]:
l = [1,2,3,4,5,6,7,8,9]
#    0 1 2 3 4 5 6 7 8
import random
idx = random.randint(0, 8) # int : integer
print(idx)
result = l.pop(idx)
print(result)
print(l)

5
6
[1, 2, 3, 4, 5, 7, 8, 9]

In [216]:
# 정렬 -- 오름차순, 내림차순
l = [4, 2, 5, 1, 3]
# 오름차순
l.sort() # [1, 2, 3, 4, 5]
print(l)
# 내림차순
l = [4, 2, 5, 1, 3]
l.sort(reverse=True)
print(l)

l = [4, 2, 5, 1, 3]
l.reverse()
print(l)

l = ['이숭무', 'apple', '김찬중', 'banana']
l.sort()
print(l)

#l = [5, 'apple', '김찬중', 3.0]
#l.sort()

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]
[3, 1, 5, 2, 4]
['apple', 'banana', '김찬중', '이숭무']

TypeError: '<' not supported between instances of 'str' and 'int'

In [220]:
# 문자 찾기 : 문자에 해당하는 index
str1 = "Life is"
result = str1.index('f')
print(result)
result = str1.find('f')
print(result)
#요소 index 찾기
l = ['apple', 'banana', '김찬중', '이숭무']
result = l.index('banana')
print(result)
#result = l.find('banana') : 문자열에만 있는 함수다.
# 크기
print(len(l))

2
2
1
4

In [ ]:
# 리터널 자료형 : 정수 , 실수 , 문자열
#                변수 하나의 값만 저장 가능하다.
# 리스트 자료형 : [] : 여러타입의 데이터 여러개 저장하기 위해서
# 튜플 자료형 : () : 여러타입의 데이터 여러개 저장하기 위해서
l = [1,2,3,4,5] #  리스트
t = (1,2,3,4,5) # 튜플
'''
튜플(tuple)
               () : 빈튜플
               (1,) : 요소가 하나인 튜플
               (1,2,3,4) : 정수형 튜플
                ('이숭무', '김찬중') : 문자열 튜플
                ('이숭무', '김찬중',1,2,3) : 혼합형 튜플
                ((1,2,3,4),(5,6,7,8)) : 튜플을 포함한 튜플
                ((1,2,3,4),(5,6,7,8), 1,2,3, '이숭무') : 튜플을 포함한 혼합형 튜플
                ([1,2,3,4], 1,2,3, '이수움') : 리스트를 포함한 혼합형 튜플
'''

In [227]:
print( 5 * 3 + 4) # 19
print( 5 * (3 + 4)) # () :  최우선 연산자
print((4 + 5)) # 최운선 연산자
print([4]) # 리스트 출력
print((4)) # 최우선
t = (4) # 최우선
print(t)
t = (4, ) # 튜플
print(t)
t = (1,2)
print(t)
t1 = 1,2,3,4,5,6,7 # 튜플
t2 = (1,2,3,4,5,6,7)
print(t1) # (1, 2, 3, 4, 5, 6, 7)
print(t2)
l = [1,2,3,4]
l = 1,  # l = (1,) 같다.
print(l)

19
35
9
[4]
4
4
(4,)
(1, 2)
(1, 2, 3, 4, 5, 6, 7)
(1, 2, 3, 4, 5, 6, 7)
(1,)

In [241]:
# 리스트와 튜플은 형식이 같기 때문에 indexing, slicing이 가능하다.
# 튜플과 리스트 차이점
l = [1,2,3,4]  # 요소 변경이 가능하다.
# 리스트에 있는 요소변경하기
print(l[1])
l[1] = 20
print(l)

t = 1,2,3,4 # 요소를 변경하지 못한다. 
print(t[1])
# t[1] = 20

t = 4,5,6,7,8,4,4
result = t.index(6)
print(result)
print(len(t))
print(t.count(4))

# 튜플 연산자 : +, *
t1 = (1,2,3,4)
t2 = (5,6,7,8)
print(t1 + t2)
print(t2 * t1[3]) # 튜플 * 정수 = (5,6,7,8) * 4

2
[1, 20, 3, 4]
2
2
7
3
(1, 2, 3, 4, 5, 6, 7, 8)
(5, 6, 7, 8, 5, 6, 7, 8, 5, 6, 7, 8, 5, 6, 7, 8)

In [ ]:
# 리터널 자료형 : 정수 , 실수 , 문자열 : "",''
#                변수 하나의 값만 저장 가능하다.
# 리스트 자료형 : [] : 여러타입의 데이터 여러개 저장하기 위해서
# 튜플 자료형 : () : 여러타입의 데이터 여러개 저장하기 위해서
# 문자열, 리스트, 튜플은 index를 이용해서 데이터를 가져온다
# 딕셔너리 : {} : 키와값을 하나의 묶음으로 사용한다.
#                {키1:값1, 키2:값2,..., 키n:값n }
#                map , json

In [243]:
l = [ "이숭무", "010-1234-5678", "19991205" ]
#        0            1             2
print(l[0]) # index : 리스트를 사용할 때
print(l[1])
dic = {"name" : "이숭무" , "phone":"010-1234-5678", "birth" : "19991205"}
print(dic["name"]) # key : 딕셔너리를 사용할 때
print(dic["phone"])
print(dic["birth"])

이숭무
010-1234-5678
이숭무
010-1234-5678
19991205

In [247]:
dic = {"name" :  "이숭무", "name" : "이충무"}
print(dic) # 딕셔너리는 키의 중복을 허용하지 않는다.
dic = {"name" : "이숭무" , "phone":"010-1234-5678", "birth" : "19991205"}
print(dic["name"])
dic["name"] = "이충무"
print(dic)
dic["city"] = "성남"
print(dic)
# 키가 있으면 수정이고 키가 없으면 추가가 된다.
dic = {"mame" :"이숭무"}
dic["name"] = "이충무"

{'name': '이충무'}
이숭무
{'name': '이충무', 'phone': '010-1234-5678', 'birth': '19991205'}
{'name': '이충무', 'phone': '010-1234-5678', 'birth': '19991205', 'city': '성남'}

In [262]:
#딕셔너리 함수
#get 함수
dic1 = {'classic' : 500 ,  "pop" : 600 }
print(dic1['classic'])
l = [1,2,3,4]
#    0 1 2 3
# print(l[4])list index out of range
# print(dic1['jazz']) # 키가 없는 경우엔 추가는 되지만 출력은 안된다.
print(dic1.get('classic'))
print(dic1.get('jazz')) # 키가 없어도 오류가 발생하지 않게 한다.
print(dic1.get('jazz', 0)) # 기본값을 부여해 줄 수 있다.
print(dic1.get('classic', 0))
dic1 = {'classic' : 500 ,  "pop" : 600 }
dic2 = {'classic' : 500 ,  "pop" : 600 , "jazz" : 700 }
print(dic1['classic'] + dic2['classic'] ) 
print(dic1['pop'] + dic2['pop'] ) 
# print(dic1['jazz'] + dic2['jazz'] ) 
print(dic1.get('jazz', 0) + dic2.get('jazz', 0) ) 
print(dic1.get('jazz', 700) + dic2.get('jazz') ) 
print(dic1.get('classic', 0) + dic2.get('classic', 0) )

500
500
None
0
500
1000
1200
700
1400
1000

In [264]:
dic = {"name" : "이숭무" , "phone":"010-1234-5678", "birth" : "19991205"}
#                                                      문자열  01234567
# indexing, slicing
# birth에서 년 , 월, 일로 따로 출력
print(dic['birth']) # 19991205
print(dic['birth'][:4] + "년")
print(dic['birth'][4:6] + "월")
print(dic['birth'][6:] + "일")

19991205
1999년
12월
05일

In [272]:
# 요소 삭제
dic = {"name" : "이숭무" , "phone":"010-1234-5678", "birth" : "19991205", "addr":"성남"}
print(dic)
l = [1,2,3,4]
del l[0]
print(l)
del l[0:2]
print(l)
del dic['name']
print(dic)
# 모두삭제
l.clear()
print(l)
dic.clear()
print(dic)

{'name': '이숭무', 'phone': '010-1234-5678', 'birth': '19991205', 'addr': '성남'}
[2, 3, 4]
[4]
{'phone': '010-1234-5678', 'birth': '19991205', 'addr': '성남'}
[]
{}

In [278]:
dic = {"name" : "이숭무" , "phone":"010-1234-5678", "birth" : "19991205", "addr":"성남"}
### 딕셔너리에 있는 키만 가져오기
print(dic.keys())
l = list(dic.keys())
print(l)
# 딕셔너리에 있는  값만 가져오기
print(dic.values())
l = list(dic.values())
print(l)
# 키와 값을 하나의 튜플로 가져오기
print(dic. items())
l = list(dic.items())
print(l)

dict_keys(['name', 'phone', 'birth', 'addr'])
['name', 'phone', 'birth', 'addr']
dict_values(['이숭무', '010-1234-5678', '19991205', '성남'])
['이숭무', '010-1234-5678', '19991205', '성남']
dict_items([('name', '이숭무'), ('phone', '010-1234-5678'), ('birth', '19991205'), ('addr', '성남')])
[('name', '이숭무'), ('phone', '010-1234-5678'), ('birth', '19991205'), ('addr', '성남')]

In [279]:
# 리터널 : 정수 , 실수, 문자열 : index : indexing, slicing
# 파이썬 자료형 : 리스트 : [] : index : indexing, slicing : [1,2,3]
#                튜플 : (), (1,) : index : indexing, slicing
#                딕셔너리 : {} : 키를 이용해서 값를 가져온다 {키:값 , ...}
#                         :키의 중복을 허용하지 않는다.
#                집합(set) : 교집합, 합집합, 차집합 
#                            값의 중복을 허용하지 않는다.
#                            공집합이 존재 하지 않는다,
#                            [1], (1,), {키:값}, {1}:집합
#                            {1,2,3,4,5,6,7,8}

In [280]:
dic = {"name":"이숭무"} # 딕셔너리
s = {1,2,3,"이숭무"} # 집합
print(s)
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

{'이숭무', 2, 3, 1}